<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>COVID-19</title>
    <link rel="icon" href="images/virus.png">
    <link href="https://unpkg.com/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
   <!-- Make sure you put this AFTER Leaflet's CSS -->
     <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-back" style="background-color: rgb(212, 223, 255);">
        <a class="navbar-brand" href="/">COVID-19</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/table">Table<Table></Table><span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
      <div class="report text-center" style="margin-top:100px; margin-bottom: 50px;">
          <h1>Covid 19 Report</h1>
      </div>
      <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="card" style="background-color:rgb(23, 213, 226)">
                    <div class="card-header">
                        <h2 class="card-title text-center font-weight-bold">Confirm</h2>
                    </div>
                    <div class="text-right">
                        <h1 class="mt-4 mr-4 ml-4 text-center font-weight-bold" style="color: white;">
                            <%= data.TotalConfirmed %></h1>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <h5 class="card-category" style="color: black;text-align:right;">
                                Last Updated 22/3/2020
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card" style="background-color: rgb(51, 219, 51)">
                    <div class="card-header" >
                        <h2 class="card-title text-center font-weight-bold">Recovered</h2>
                    </div>
                    <div class="text-right">
                        <h1 class="mt-4 mr-4 ml-4 text-center font-weight-bold" style="color: white;">
                            <%= data.TotalRecovered %>
                        </h1>
                    </div>
                    <div class=" card-footer">
                        <div class="stats">
                            <h5 class="card-category" style="color: black;text-align:right;">
                                Last Updated 22/3/2020</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card" style="background-color:red">
                    <div class="card-header">
                        <h2 class="card-title text-center font-weight-bold">Death</h2>
                    </div>
                    <div class="text-right">
                        <h1 class="mt-4 mr-4 ml-4 text-center font-weight-bold" style="color: white;" >
                            <%= data.TotalRecovered %>
                        </h1>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <h5 class="card-category" style="color: black;text-align:right;">
                                Last Updated 22/3/2020</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/jquery@3.4.1/dist/jquery.min.js"></script>
    <script src="https://unpkg.com/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://unpkg.com/bootstrap@4.4.1/dist/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/min/moment.min.js"></script> <!-- moment-with-locales.min.js -->
    <script>
        getChart(`<%- JSON.stringify(lastWeekConfirmed) %>`, `<%- JSON.stringify(lastWeekRecovered) %>`, `<%- JSON.stringify(lastWeekDeaths) %>`);
    </script>
    
</body>
</html>